* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #ccc;
    height: 100%;
}

/* Main */
main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    min-width: 70px;
    max-width: 180px;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.card-img {
    height: 90%;
    width: 100%;

}

.card-title {
    padding: 4px 0;
    text-align: center;
    font-size: 22px;
    color: white;
    background-color: rgb(83, 83, 83);
    border-radius: 0 0 8px 8px;
}

@media screen and (max-width: 400px){
    main {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 60%;
    }
}